body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: .4rem 2rem;
  border-bottom: .2rem solid #818181;
}

.header img {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  height: 70%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.landing-main {
  padding: 1rem 5rem 0 5rem;
}

.landing-main h2 {
  text-transform: uppercase;
  font-size: 5rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

input, textarea {
  margin-left: 2.5rem;
  border: 1px solid darkgreen;
  box-sizing: border-box;
}

.add-link-button {
  align-self: flex-end;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  background-color: lightgray;
  border: 1px solid black;
  padding: .3rem;
  font-size: .7rem;
}

.add-link-button:hover {
  cursor: pointer;
  color: darkgreen;
}

.media-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.media-upload progress {
  background-color: lightgreen;
  width: 100%;
  margin: 1rem 0;
}

.media-upload input {
  width: 100%;
  margin: 0;
}

.media-upload .title-input {
  width: 85%;
  padding: .2rem .6rem;
  margin-bottom: 1rem;
}

.media-upload button {
  align-self: flex-end;
  text-transform: uppercase;
  text-align: right;
  font-weight: bold;
  background-color: lightgray;
  border: 1px solid black;
  padding: .3rem;
  font-size: .7rem;
}

.media-upload button:hover {
  cursor: pointer;
  color: darkgreen;
}

.submit {
  font-size: 1.5rem;
  background-color: darkgreen;
  border: 1px solid black;
  padding: 1rem 1.5rem;
  color: white;
  margin: 4rem auto;
}

.submit:hover {
  cursor: pointer;
  background-color: white;
  color: darkgreen;
}



.all-clients {
  margin: 2rem 1rem 0 5rem;
}

.all-clients h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.client-wrapper {
  padding-left: 3rem;
}

.client-list {
  padding: 0 0 0 2rem;
}

.client-list li {
  list-style: none;
}

.client-list a {
  color: black;
  text-decoration: none;
}

.client-list a:hover {
  color: #DE6449;
}

.client-detail {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  padding-left: 2.5rem;
}

.client-images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.client-images ul {
  padding-inline-start: 0;
}

.client-images li {
  width: 450px;
  padding-bottom: 1rem;
}

.client-images li {
  list-style: none;
}

.client-images img {
  border: 1px solid black;
  width: 100%;
}

.client-info {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 2.5rem;
}

.client-h1 {
  font-size: 3rem;
  margin-block-end: 1rem;
  margin-left: 2.5rem;
  border-left: .7rem solid#1bcb2e;
  padding-left: 1rem;
}

.client-info-row {
  display: flex;
  margin: 0 0 2rem 0;
  padding: 1.5rem;
}

.section-icon {
  padding-right: 3rem;
}

.image-upload, .video-upload, .pdf-upload {
  display: flex;
  flex-direction: column;
}
